
.dropdown-messages li em,
.dropdown-alerts li em {
    font-size: 12px;
}

.nav .label,
.ibox .label {
    font-size: 12px;
}

.animation-text-info {
    font-size: 12px;
}

.todo-list.small-list .btn-xs,
.todo-list.small-list .btn-group-xs > .btn {
    font-size: 12px;
}

.link-block a {
    font-size: 12px;
}

.simple_tag {
    font-size: 12px;
}

ul.notes li div small {
    font-size: 12px;
}

.tag-list li a {
    font-size: 12px;
}

.project-manager .tag-list li a {
    font-size: 12px;
}

.faq-item .tag-item {
    font-size: 12px;
}

.message-date {
    font-size: 12px;
}

.product-main-price small {
    font-size: 12px;
}

.small-chat-box .chat-date {
    font-size: 12px;
}

.sk-spinner-wave.sk-spinner {
    font-size: 12px;
}

.wrapper-content {
    padding: 20px 5px 40px;
}

/* bootstrap form begin */

/* bootstrap form end */

.form-control, .single-line {
    border-radius: 3px;
}

/* page header begin */

.page-heading .buttons {
    padding-top: 40px;
    text-align: right;
}

.body-small .page-heading .buttons{
    padding-top: 10px;
    text-align: left;
}

/* page header end */

/* toastr begin */

#toast-container > div {
    -moz-box-shadow: 0 0 6px #999999;
    -webkit-box-shadow: 0 0 6px #999999;
    box-shadow: 0 0 6px #999999;
}

#toast-container > div:hover {
    -moz-box-shadow: 0 0 6px #999999;
    -webkit-box-shadow: 0 0 6px #999999;
    box-shadow: 0 0 6px #999999;
}

/* toastr end */

/* footer begin */

.footer{
    position: fixed;
    left: 220px;
}

.mini-navbar .footer{
    left: 70px;
}

.body-small .footer{
    position: absolute;
    left: 0px;
}

/* footer end */