h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    line-height: 1;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}

a {
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2F4050;
    font-size: 14px;
    color: #676A6C;
    overflow-x: hidden;
}

.border-bottom { border-bottom: 1px solid #E7EAEC !important; }

.white-bg { background-color: #FFFFFF; }

.gray-bg { background-color: #F3F3F4; }

.font-bold { font-weight: bold; }

.text-muted { color: #8095A8; }

.block { display: block; }

.full-width { width: 100% !important; }

.body-small .no-small { display: none; }

#sidebar {
    position: absolute;
    width: 220px;
}

#page-wrapper {
    padding: 0 15px;
    margin: 0 0 0 220px;
    position: relative;
}

.body-small #page-wrapper {
    margin: 0;
}


.wrapper-content {
    padding: 20px 10px 70px;
}

/* navbar begin */

.navbar {
    margin-bottom: 0;
}

.navbar-header {
    display: inline;
    float: left;
}

@media (min-width: 768px) {
    .navbar-header {
        display: block;
        float: left;
    }
}

.navbar-minimalize {
    margin: 15px 5px 5px 20px;
}

.navbar-top-links > li {
    display: inline-block;
}

.navbar-top-links > li:last-child {
    margin-right: 40px;
}

.navbar-top-links > li > a {
    padding: 20px 10px;
    min-height: 50px;
    color: #999C9E;
}

.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
    background-color: transparent;
    color: #5E5E5E;
}

/* navbar end */

/* sidebar begin */

.sidebar-header {
    width: 220px;
    height: 156px;
    padding: 35px 25px;
    background: url(../img/sidebar-header.png) no-repeat left top;
}

.profile img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.profile a {
    color: #DFE4ED;
}

.profile .block {
    width: 100px;
}

#sidebar .nav > li {
    border-left: 0px solid transparent;
    background-color: transparent;
    transition: all 500ms ease 0ms;
}

#sidebar .nav > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

#sidebar .nav > li > a:hover,
#sidebar .nav > li > a:focus {
    background-color: #293846;
    color: white;
}

#sidebar .nav > li > a i {
    margin-right: 6px;
}

#sidebar .nav > li > a .arrow {
    float: right;
    line-height: 1.42857;
}

#sidebar > .nav > li.active {
    border-left: 4px solid #19AA8D;
    background-color: #293846;
    transition: all 500ms ease 0ms;
}

#sidebar .nav > li.active > a {
    color: #FFFFFF;
}

#sidebar .sidebar-subnav > li {
    border-bottom: none !important;
}

#sidebar .sidebar-subnav li a {
    padding: 7px 10px 7px 52px;
}

#sidebar .nav.sidebar-subnav.collapse[style] {
    height: auto !important;
}

/* sidebar end */

/* nav some begin */

.nav.nav-tabs li {
    background: none;
    border: none;
}

.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #e6e6e6;
    color: #676a6c;
}

/* nav some end */

/* sidebar toggle begin */

.pace-done #sidebar {
    width: 220px;
    transition: width 500ms ease 0ms;
}

.pace-done #page-wrapper {
    margin: 0 0 0 220px;
    transition: margin 500ms ease 0ms;
}

.pace-done .sidebar-header {
    width: 220px;
    height: 156px;
    padding: 35px 25px;
    transition: all 500ms ease 0ms;
}

.pace-done .profile img {
    width: 50px;
    height: 50px;
    transition: all 500ms ease 0ms;
}

.sidebar-toggle #sidebar {
    width: 70px;
    transition: width 500ms ease 0ms;
}

.sidebar-toggle #page-wrapper {
    margin: 0 0 0 70px;
    transition: margin 500ms ease 0ms;
}

.sidebar-toggle .sidebar-header {
    width: 70px;
    height: 61px;
    padding: 10px 15px;
    transition: all 500ms ease 0ms;
}

.sidebar-toggle .profile img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    transition: all 500ms ease 0ms;
}

.body-small .profile a,
.sidebar-toggle .profile a {
    display: none;
}

.body-small #sidebar > .nav > li.active {
    border-left-width: 0px;
}

.body-small #sidebar .nav > li > a,
.sidebar-toggle #sidebar .nav > li > a {
    padding: 14px 20px 14px 25px;
}

.body-small .sidebar-nav > li > a > .nav-label,
.sidebar-toggle .sidebar-nav > li > a > .nav-label {
    display: none;
}

.body-small .sidebar-nav > li > a > .fa-angle-left,
.sidebar-toggle .sidebar-nav > li > a > .fa-angle-left {
    display: none;
}

.body-small .sidebar-nav > li > .sidebar-subnav,
.sidebar-toggle .sidebar-nav > li > .sidebar-subnav {
    display: none;
}

.body-small #sidebar .collapse,
.sidebar-toggle #sidebar .collapse {
    opacity: 0;
}

.body-small #sidebar .collapse.in,
.sidebar-toggle #sidebar .collapse.in {
    opacity: 1;
}

.body-small #sidebar .nav > li > a .arrow,
.sidebar-toggle #sidebar .nav > li > a .arrow {
    display: none;
}

.body-small #sidebar .sidebar-subnav,
.sidebar-toggle #sidebar .sidebar-subnav {
    position: absolute;
    left: 70px;
    top: 0;
    background-color: #2f4050;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    z-index: 1;
}

.body-small #sidebar li.active .sidebar-subnav,
.sidebar-toggle #sidebar li.active .sidebar-subnav {
    left: 65px;
}

.body-small #sidebar .nav > li.active:hover > .sidebar-subnav,
.sidebar-toggle #sidebar .nav > li.active:hover > .sidebar-subnav {
    display: block;
    min-width: 140px;
}

.body-small #sidebar {
    display: none;
    z-index: 2000;
    width: 70px;
    position: absolute;
}

.body-small.pace-done #sidebar {
    display: block;
    width: 0px;
    transition: margin 500ms ease 0ms;
}

.body-small.pace-done .sidebar-header {
    width: 0px;
    height: 61px;
    padding: 10px 0px;
    overflow: hidden;
    transition: all 500ms ease 0ms;
}

.body-small.pace-done .profile img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
}

.body-small.pace-done #page-wrapper {
    margin: 0;
    transition: margin 500ms ease 0ms;
}

.body-small.pace-done .sidebar-toggle #sidebar{
    width: 70px;
    transition: all 500ms ease 0ms;
}

.body-small.pace-done #sidebar .nav > li > a{
    padding: 14px 0;
    overflow: hidden;
    transition: all 500ms ease 0ms;
}

.body-small.pace-done .sidebar-toggle #sidebar .nav > li > a{
    padding: 14px 20px 14px 25px;
    transition: all 500ms ease 0ms;
}

.body-small.pace-done .sidebar-toggle #sidebar > .nav > li.active {
    border-left-width: 4px;
}

.body-small.pace-done .sidebar-toggle #page-wrapper {
    margin: 0 0 0 70px;
    transition: margin 500ms ease 0ms;
}

.body-small.pace-done .sidebar-toggle .sidebar-header {
    width: 70px;
    height: 61px;
    padding: 10px 15px;
    transition: all 500ms ease 0ms;
}

.body-small.pace-done .sidebar-toggle .profile img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    transition: all 500ms ease 0ms;
}

/* sidebar toggle end */

/* page header begin */

.page-header .buttons {
    padding-top: 40px;
    text-align: right;
}

.body-small .page-header .buttons{
    padding-top: 10px;
    text-align: left;
}

/* page header end */

/* ibox begin */

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    background-color: #ffffff;
    border-top: 2px solid #e7eaec;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-top: 1px solid #E7EAEC;
}

.ibox-table{
    overflow-x: auto;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

/* ibox end */

/* input begin */

.inline {
    display: inline-block !important;
}

.input-s-sm {
    width: 120px;
}

.input-s {
    width: 200px;
}

.input-s-lg {
    width: 250px;
}

.i-checks {
    padding-left: 0;
}

.form-control-inline{
    display: block;
    width: 100%;
    margin-right: 0;
}

@media (min-width: 768px){
    .input-group-inline{
        display: inline-table;
        width: 1px;
        vertical-align: middle;
    }

    .form-control-inline,
    .input-group .form-control-inline{
        display: inline-block;
        width: auto;
        margin-right: 5px;
    }

    .form-control-datetime,
    .input-group .form-control-datetime{
        display: inline-block;
        width: 180px;
    }

    .input-group-inline .form-control-inline{
        margin-right: 0px;
    }
}

/* input end */

/* margin && padding begin */

.p-xxs {
    padding: 5px;
}

.p-xs {
    padding: 10px;
}

.p-sm {
    padding: 15px;
}

.p-m {
    padding: 20px;
}

.p-md {
    padding: 25px;
}

.p-lg {
    padding: 30px;
}

.p-xl {
    padding: 40px;
}

.p-w-xs {
    padding: 0 10px;
}

.p-w-sm {
    padding: 0 15px;
}

.p-w-m {
    padding: 0 20px;
}

.p-w-md {
    padding: 0 25px;
}

.p-w-lg {
    padding: 0 30px;
}

.p-w-xl {
    padding: 0 40px;
}

.p-h-xs {
    padding: 10px 0;
}

.p-h-sm {
    padding: 15px 0;
}

.p-h-m {
    padding: 20px 0;
}

.p-h-md {
    padding: 25px 0;
}

.p-h-lg {
    padding: 30px 0;
}

.p-h-xl {
    padding: 40px 0;
}

.m-xxs {
    margin: 2px 4px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-xl {
    margin: 50px;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-t-none {
    margin-top: 0;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-r-none {
    margin-right: 0;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 40px;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -5px;
}

.m-r-n-sm {
    margin-right: -10px;
}

.m-r-n {
    margin-right: -15px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-r-n-lg {
    margin-right: -30px;
}

.m-r-n-xl {
    margin-right: -40px;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-b-xl {
    margin-bottom: 40px;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -5px;
}

.m-b-n-sm {
    margin-bottom: -10px;
}

.m-b-n {
    margin-bottom: -15px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-b-n-lg {
    margin-bottom: -30px;
}

.m-b-n-xl {
    margin-bottom: -40px;
}

.space-15 {
    margin: 15px 0;
}

.space-20 {
    margin: 20px 0;
}

.space-25 {
    margin: 25px 0;
}

.space-30 {
    margin: 30px 0;
}

/* margin && padding end */

/* tabs begin */

.tabs-container .panel-body {
    background: #FFFFFF;
    border: 1px solid #E7EAEC;
    border-radius: 0px;
    padding: 20px;
    position: relative;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #E7EAEC;
    border-bottom-color: transparent;
    background-color: #FFFFFF;
}

.tabs-container .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #E7EAEC;
    border-bottom-color: transparent;
}

.tabs-container .nav-tabs {
    border-bottom: 1px solid #E7EAEC;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #E7EAEC;
}

.tabs-container .nav-tabs > li a:hover {
    background: transparent;
    border-color: transparent;
}

.tabs-container .tabs-below > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs,
.tabs-container .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-container .tabs-left .panel-body {
    position: static;
}

.tabs-container .tabs-left > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs {
    width: 20%;
}

.tabs-container .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
}

.tabs-container .tab-content > .tab-pane,
.tabs-container .pill-content > .pill-pane {
    display: none;
}

.tabs-container .tab-content > .active,
.tabs-container .pill-content > .active {
    display: block;
}

.tabs-container .tabs-below > .nav-tabs {
    border-top: 1px solid #E7EAEC;
}

.tabs-container .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-container .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-container .tabs-below > .nav-tabs > li > a:hover,
.tabs-container .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #E7EAEC;
    border-bottom-color: transparent;
}

.tabs-container .tabs-left > .nav-tabs > li,
.tabs-container .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-container .tabs-left > .nav-tabs > li > a,
.tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left > .nav-tabs .active > a,
.tabs-container .tabs-left > .nav-tabs .active > a:hover,
.tabs-container .tabs-left > .nav-tabs .active > a:focus {
    border-color: #E7EAEC transparent #E7EAEC #E7EAEC;
    *border-right-color: #FFFFFF;
}

.tabs-container .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
}

.tabs-container .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right > .nav-tabs .active > a,
.tabs-container .tabs-right > .nav-tabs .active > a:hover,
.tabs-container .tabs-right > .nav-tabs .active > a:focus {
    border-color: #E7EAEC #E7EAEC #E7EAEC transparent;
    *border-left-color: #FFFFFF;
    z-index: 1;
}

@media (max-width: 767px) {
    .tabs-container .nav-tabs > li {
        float: none !important;
    }

    .tabs-container .nav-tabs > li.active > a {
        border-bottom: 1px solid #E7EAEC !important;
        margin: 0;
    }
}

/* tabs end */

/* fa icon begin */

.fa.arrow::before {
    content: "\f104";
}

.active > a > .fa.arrow::before {
    content: "\f107";
}

/* fa icon end */

/* table begin */

.limit-width-120{
    width: 120px;
}

.limit-width-180{
    width: 240px;
}

.limit-width-240{
    width: 240px;
}

.limit-width-360{
    width: 360px;
}

.table .empty{
    text-align: center;
    padding: 10px;
}

.table-layout-fix{
    table-layout: auto;
}

@media (min-width: 768px) {
    .table-layout-fix{
        table-layout: fixed;
    }
}

.table.detail-view{
    margin-bottom: 0px;
}

.table.detail-view > tbody > tr > th:first-child,
.table.detail-view > tbody > tr > td:first-child{
    width: 15%;
}

.table th{
    color: #676a6c;
}

.table th a{
    color: #676a6c;
}

.table th a:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f0dc";
    margin-left: 5px;
}

.table .desc:after{
    content: "\f0dd";
}

.table .asc:after{
    content: "\f0de";
}

.table th a.btn{
    color: #fff;
}

.table th a.btn:after{
    content: "";
    display: none;
}

.table-report caption {
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* table end */

/* footer begin */

.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 220px;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    line-height: 1;
}

.footer .summary,
.footer .copyright{
    line-height: 30px;
}

.body-small .footer{
    left: 0px;
}

.sidebar-toggle .footer{
    left: 70px;
}

/* footer end */

/* image upload begin */

.image-upload{
    width: 150px;
    border: 1px solid #e5e6e7;
    position: relative;
    overflow: hidden;
}

.image-upload img{
    width: 100%;
    max-width: 150px;
    max-height: 300px;
}

.image-upload input{
    width: 200px;
    height: 400px;
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

/* image upload end */

/* summarynot fix begin */

.note-editor {
    border: 1px solid #E7EAEC;
}

/* summarynot fix end */

/* jasny bootstrap fix begin */

.fileinput .btn:hover{
    padding: 6px 12px 6px 11px;
}

/* jasny bootstrap fix end */

/* ERROR & LOGIN & LOCKSCREEN begin*/

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.lockscreen.middle-box {
    width: 200px;
    padding-top: 0px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginscreen.middle-box {
    width: 300px;
    padding-top: 0px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginColumns {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}
.passwordBox {
    max-width: 460px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}
.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}
.middle-box h1 {
    font-size: 150px;
}
.wrapper .middle-box {
    margin-top: 140px;
}
.lock-word {
    z-index: 10;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -470px;
}
.lock-word span {
    font-size: 100px;
    font-weight: 600;
    color: #e9e9e9;
    display: inline-block;
}
.lock-word .first-word {
    margin-right: 160px;
}

/* ERROR & LOGIN & LOCKSCREEN end*/

/* Auth List begin */

.table-auth > tbody > tr > th,
.table-auth > tbody > tr > td{
    vertical-align: top;
}

.table-auth > tbody > tr > th > label{
    display: inline-block;
    padding: 12px 12px;
    line-height: 1;
    cursor: pointer;
}

.table-auth > tbody > tr > td > label{
    display: inline-block;
    font-weight: normal;
    padding: 12px 24px;
    width: 160px;
    line-height: 1;
    cursor: pointer;
}

.table-auth > tbody > tr > th > label > input,
.table-auth > tbody > tr > td > label > input{
    vertical-align: middle;
    margin: -2px 0 0;
}


/* Auth List end */

/* tag block begin */

.tag-input{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.tag-input span{
    display: inline-block;
    padding: 0px 5px;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    background: #eeeff0;
    margin-right: 6px;
    cursor: pointer;
}

.tag-input input{
    display: inline-block;
    width: 60px;
    border: none;
}

/* tag block end */